<a href="https://colab.research.google.com/github/tduc2801/ueh_kythuatlaptrinh_stata_python/blob/main/python_101_St3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#python101

In [ ]:
x = 2 #int
price = 2.5 #float
x =1j + 2
print(x, type(x)) #complex
word = '''
Hello
'''
type (word)

x = 2
y = x + 1
print(f'x={x}, y={y}')

from platform import python_version
print("Python Version:", python_version())

x = ["apple", "banana", "cherry"] #list
x = ("apple", "banana", "cherry") #tuple
x = range(6) #range --> chạy từ 0 đến 5: r(6)=[0,5], r(min, max): [min, max]
print(x, list(x)) #iterator; chỉ cấp phát khi sử dụng (phải có list trước r mới range)
x = {"name" : "Tom", "age" : 20} #dict -> (key, var)
x = {"apple", "banana", "cherry"} #set
x = frozenset({"apple", "banana", "cherry"})
#frozenset -> read only

x = True #bool
print(x, type(x))
x = b"Hello" #bytes
x = bytearray(5) #bytearray
x = memoryview(bytes(5)) #memoryview
x = None #NoneType
print(x, type(x))

(2+1j) <class 'complex'>
x=2, y=3
Python Version: 3.11.13
range(0, 6) [0, 1, 2, 3, 4, 5]
True <class 'bool'>
None <class 'NoneType'>

# Mục mới

ép kiểu (casting)

In [ ]:
print(list(range(6)))
print(set[1, 2, 2, 4, 5, 4])

[0, 1, 2, 3, 4, 5]
set[1, 2, 2, 4, 5, 4]

In [ ]:
'''
Operator Name Example
+ Addition 7 + 2 = 9
- Subtraction 7 - 2 = 5
* Multiplication 7 * 2 = 14
/ Division 7 / 2 = 3.5
// Floor division 7 // 2 = 3 (Quotient)
% Modulus 7 % 2 = 1 (Remainder)
** Exponentiation 7 ** 2 = 49
'''

In [ ]:
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

In [ ]:
#boolean: true/false
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [ ]:
# BMI Calculator in Python
#input
height_cm = 180
weight_kg = 73
#process -> đưa biến vào để hình thức hoá
height_m = height_cm/100
BMI = (weight_kg/(height_m**2))
print("Your BMI is: " + str(round(BMI,1))) #st(round()-> làm tròn đến số thập phân thứ nhất

Your BMI is: 22.5

In [ ]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))

#hình thức hoá
#input
pv = 110
r = 0.1
n = 7
fv = pv*(1+r)**n
print (print('fv = ', round(fv, 2))
)

# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7
future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

fv =  194.87
fv =  214.36
None
194.87

In [ ]:
#data structure
x = ["apple", "banana", "cherry"] #list
print(x, type(x))
x = ("apple", "banana", "cherry") #tuple
print(x, type(x))
x = {"name" : "Tom", "age" : 20} #dict
print(x, type(x))
x = {"apple", "banana", "cherry"} #set
print(x, type(x))

x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])
print(x[1:3])
print(x[-1:-3])

['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
{'name': 'Tom', 'age': 20} <class 'dict'>
{'banana', 'apple', 'cherry'} <class 'set'>
4
60
70
90
[70, 80]
[]
True
False
True
3
3
2

In [ ]:
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add("cat")
print(len(animals))
animals.remove('cat')
print(len(animals))

In [ ]:
s = "hom nay la thu 2"
print(list(s), len(list(s)))
print(set(list(s))), len(set(list(s)))

['h', 'o', 'm', ' ', 'n', 'a', 'y', ' ', 'l', 'a', ' ', 't', 'h', 'u', ' ', '2'] 16
{'2', 'h', 'u', 'a', 'n', 'o', 't', 'y', 'l', 'm', ' '}

(None, 11)

In [ ]:
s ="hom nay la thu hai"
d_cnt= {}
for ci in list(s)
if d_cnt.get(ci) is None
d_cnt[ci] = 1
else:
  d_cnt[ci] = d_cnt[ci] + 1
print (d_cnt)

SyntaxError: expected ':' (ipython-input-87345204.py, line 3)

In [ ]:
fruits = ["apple", "banana", "cherry"] #lists []
print(fruits, type(fruits))
colors = ("red", "green", "blue") #tuples ()
animals = {'cat', 'dog'} #sets {}
person = {"name" : "Tom", "age" : 20} #dictionaries {}

import pandas as pd
pd.dataframe([person]

SyntaxError: incomplete input (ipython-input-139872980.py, line 8)

In [ ]:
# Python Lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

In [ ]:
# Python Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002), ("Inventory", 1003))
for account in accounts:
  print("Account name:", account[0], "Account number:", account[1])

Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

In [ ]:
account_numbers = {1001, 1002, 1003}
new_account_number = 1004
if new_account_number not in account_numbers:
  print("Account number", new_account_number, "is not in use.")

Account number 1004 is not in use.

In [ ]:
# Python Dictionaries
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
"2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}
rows = [] # Initialize an empty list to store the rows
for account_number, account_info in accounts.items():
  print("Account number:", account_number)
  print("Account name:", account_info["name"])
  print("Account balance:", account_info["balance"])
  print("Account type:", account_info["type"])
  print("-"*20)
  row = {'number': account_number, **account_info}
  rows.append(row) # Append the dictionary to the list

# You can now use the 'rows' list, for example, to create a pandas DataFrame:
# import pandas as pd
# df = pd.DataFrame(rows)
# display(df)

Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
--------------------
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
--------------------
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability
--------------------

In [ ]:
# Python if else
score = 80
if score >=60 :
  print("Pass")
else:
  print("Fail")

  # Python if else
score = 80
if score >=90 :
  print("A")
elif score >=60:
  print("P")
else:
  print("F")

for i in range(1,6):
  print(i)

IndentationError: expected an indented block after 'for' statement on line 21 (ipython-input-942235324.py, line 22)

In [ ]:
# for loops
for i in range(1, 10):
    for j in range(1, 10):
      print(i, ' * ' , j , ' = ', i*j)
    print("-"*50)

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
--------------------------------------------------
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
--------------------------------------------------
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
--------------------------------------------------
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
--------------------------------------------------
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
--------------------------------------------------
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
--------------------------------------------------
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
--------------------------------------------------
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
--------------------------------------------------
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
--------------------------------------------------

In [ ]:
# Python Function def
# indentation for blocks. four spaces
def getfv(pv, r, n):
  fv = pv * ((1 + (r)) ** n)
  return fv
fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

In [ ]:
class Person:
def __init__(self, name, age):
self.name = name
self.age = age
p1 = Person("Alan", 20)
print(p1.name)
print(p1.age)